 <!-- Feature 2  -->
                <!-- ============================================================== -->
                <div class="bg-light spacer feature20 up">
                    <div class="container">
                        <!-- Row  -->
                        <div class="row justify-content-center">
                            <div class="col-md-7 text-center">
                                <span class="label label-success label-rounded">Lets create</span>
                                <h2 class="title" style= "padding: 3%;">Are you a participant in SeaFood SCM network?</h2>
                                <h6 class="subtitle">You can enter the item details in the popup form you get when you click your role ...! </h6>
                            </div>
                        </div>
                        <!-- Row  -->
                        <div class="row wrap-feature-20" style = "padding-top: 4%;">
                            <!-- Column -->
                            <div class="col-lg-6" data-aos="flip-left" data-aos-duration="1200">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card-body d-flex no-block">
                                                <div class="m-r-20"><img src="../../assets/images/fisherman-icon.jpg" width="70" class="rounded" /></div>
                                                <div>
                                                    <h5 class="font-medium">Fishing Person</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a href="#fisher_popup" class="text-white linking bg-success-gradiant" >Enter detail<i class="ti-arrow-right"></i></a>
                                        
                                            <!-- ***************************    -->                
                                           
                                              <!-- ***************************    -->               
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-6" data-aos="flip-right" data-aos-duration="1200">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card-body d-flex no-block">
                                                <div class="m-r-20"><img src="../../assets/images/logistics-icon.jpg" width="70" class="rounded" /></div>
                                                <div>
                                                    <h5 class="font-medium">Logistics Team</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a href="#logistics_popup" class="text-white linking bg-success-gradiant">Enter detail<i class="ti-arrow-right"></i></a>
                                                              
                                            
                                               <!-- ***************************    -->               
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-6" data-aos="flip-right" data-aos-duration="1200">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card-body d-flex no-block">
                                                <div class="m-r-20"><img src="../../assets/images/manufacturer-icon.png" width="70" class="rounded" /></div>
                                                <div>
                                                    <h5 class="font-medium">Processing Industry Person</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a href="#processing_industry_person_popup" class="text-white linking bg-success-gradiant">Enter detail<i class="ti-arrow-right"></i></a>
                                              <!-- ***************************    -->                
                                              
                                               <!-- ***************************    -->               
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <!-- Column -->
                            <div class="col-lg-6" data-aos="flip-left" data-aos-duration="1200">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card-body d-flex no-block">
                                                <div class="m-r-20"><img src="../../assets/images/wholesale-icon.png" width="70" class="rounded" /></div>
                                                <div>
                                                    <h5 class="font-medium">WholeSaler</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a href="#Wholesaler_popup" class="text-white linking bg-success-gradiant">Enter detail<i class="ti-arrow-right"></i></a>
                                              <!-- ***************************    -->                
                                             
                                               <!-- ***************************-->               
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                        <!-- Row  -->
                    </div>
                </div>