 <!-- ============================================================== -->
<!-- Feature 3 -->
<!-- ============================================================== -->

<div class= "sec-comp"> 
    <div class="spacer ">
        <div class="container feature30">
            <div class="row">
                <div class="col-lg-10"><img src="../../assets/images/fishing-banner.png" class="rounded img-responsive" alt="wrappixel" /></div>
                <div class="col-lg-5 col-md-7 text-center wrap-feature30-box" data-aos="fade-left" data-aos-duration="1800" data-aos-easing="linear">
                    <div class="card card-shadow">
                        <div class="card-body">
                            <div class="p-20">
                                <span class="label label-info label-rounded">Business</span>
                                <h3 class="title">The New way of Making Your Sea Food Business Successful</h3>
                                <p>You can rely this application fully as it is built on block chain, it provides 100% traceability on the item from the harvest till it reaches the consumer's hands. This brings trust in the quality of the product. </p>
                                <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" href="#"><span>Explore More <i class="ti-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>