/*******************
Feature 30
*******************/
.feature30 {
    position: relative; 
}
  
.wrap-feature30-box {
    position: absolute;
    top: 20%;
    right: 0px; 
}
.spacer{
 width: 100%;
 background-color: aliceblue
}
.sec-comp{
    padding-top: 0%;
}
.row{
    padding: 10%;

}
.label-success {
    background-color: #1f68ee;
}
.label-rounded {
    border-radius: 60px;
    width: 22%;
    padding: 5%;
}
.label {
    padding: 1%;
    line-height: 13px;
    color: #1a71e4;
    font-weight: 400;
    font-size: 75%;
}
.label-info {
    background-color: #188ef4;
}