<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
     <!-- <div class = "sec-com">
<div class = "  ">
   -->
   <div class=" register bg-img">
    <div class = "go-right">     
     <app-register-box></app-register-box>
    </div>  
  </div>
  <!-- 
</div>          
</div> --> 

